/* achtergrondkleur en font karaktiriestieken */
body {
    background: rgb(200, 200, 200);
    font-family: 'Arial Black', Arial;
}

/* Dit zet de elementen, h1 en de nav, naast elkaar */
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    overflow: hidden;
}

/* Achtergrondfoto header */
header {
    background-image: url(../Images/Header_achtergrond.jpg);
    height: 33%;
}

/* Link die nog niet bezocht is */
a:link {
    color: black;
    text-decoration: none;
}
  
/* Link die al bezocht is*/
a:visited {
    color: black;
    text-decoration: none;
}
  
/* Muis boven de link */
a:hover {
    color: rgb(68, 68, 160);
    text-decoration: none;
    transition: 400ms;
}
  
/* Link terwijl die geklikt wordt */
a:active {
    color: black;
    text-decoration: none;
}

/* karaktieristieken h1 */
h1 {
    font-size: 2em;
    padding: 2.1%;
    background: rgb(68, 68, 160);
    color: white;
    border-radius: 15%;
    margin-left: 1em;
}

/* Dit zet alle navigatie-items naast elkaar */
nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 1em 27em 0em 0em;
}

/* Dit bepaald hoe de navigatiemenu-knopjes er uit zien */
nav ul li {
    background: white;
    padding: 2.5%;
    margin: 5% 10% 5% 0%;
    list-style-type: none;
    border-radius: 15%;
    transition: 500ms;
}

/* Dit zorgt er voor dat er een soepele transition van kleur is wanneer je met je muis boven de tekst in het navigatiemenu hangt */
nav ul li a {
    transition: 500ms;
    font-size: 100%;
}

/* Dit zorgt er voor dat de padding rond de tekst in het navigatiemenu blauw wordt als je er overheen hangt met je muis */
nav ul li:hover {
    background: rgb(68, 68, 160);
}

/* Dit zorgt er voor dat de tekst in het navigatiemenu wit wordt als je er boven hangt met je muis */
nav ul li a:hover {
    color: white;
}

/* Dit zorgt er voor dat de main tussen de zijkant van het scherm, de header en de footer wat extra ruimte heeft */
main {
    margin: 2em;
}

/* Dit zorgt er voor dat er rond elk plaatje een beetje extra lege ruimte is */
img {
    margin: 1em;
}

/* Dit zorgt er voor dat specifiek de foto's op de homepagina de juiste ruimte tussen elkaar hebben en er hetzelfde uit zien als de sections die nog komen */
.tcsfotos {
    background: white;
    padding: 2em;
    border:  rgb(68, 68, 160) solid 0.5em;
    margin: 1em 0em;
}

/* Deze drie foto's zijn de enige die unieke groottes hebben, hier krijgen ze die */
.tcsfotos img:nth-child(1) {
    width: 20%;
}

.tcsfotos img:nth-child(2) {
    width: 50%;
}

.tcsfotos img:nth-child(3) {
    width: 20%;
}

/* Dit zet de h3 en link tekst onderop de homepagina centraal */
.tcslink {
    text-align: center;
    padding: 2em 1em 5em 1em;
}

/* Dit bepaald hoe de link onderaan de homepagina er uit ziet */
.tcslink a {
    padding: 1em;
    border: 0.5em solid rgb(68, 68, 160);
    background: white;
}

/* Karaktiriestieken h2 */
h2 {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    background: rgb(68, 68, 160);
    color: white;
}

/* De padding hier zorgt er voor dat de kleinere kopjes in de blokken tekst wat meer aandacht trekken, ook heb ik ze iets groter gemaakt dan de standaard h3 grootte */
h3 {
    padding: 0.2em 0em;
    font-size: 1.5em;
}

/* Ik vond de standaardgrootte van h4 ook net iets te klein */
h4 {
    font-size: 1.25em;
}

/* Dit zorgt er voor dat op de pagina's afstanden, tips & tricks en routes de text in het kleine menu'tje bovenaan de pagina gecentreerd is */
.overzicht {
    text-align: center;
}

/* Dit maakt de tekst in de menu'tjes net iets groter, en de margin op 0% hier maakt het net wat compacter wat ik mooier vond */
.overzicht p {
    font-size: 1.2em;
    margin:0%;
}

/* Dit haalt de bullet-points in het kleine menu'tje weg, de margin aan de rechter kant zorgt ervoor dat het gecentreerd is omdat de bullet-points het iets naar rechts hadden verschoven */
.overzicht ul {
    list-style-type: none;
    margin-right: 2em;
}

/* Hier geef ik alle sections iets meer ruimte binnen en buiten de border */
section {
    margin: 1em 0em;
    padding: 1.5em;
}

/* Dit zorgt er voor dat de grootte van de foto's zich aanpassen aan de breedte van het scherm */
img {
    width: 30%;
}

/* Dit zorgt er voor dat elke section die gelijk is aan een even getal een witte achtergrond en een blauwe border krijgt */
section:nth-child(even) {
    background: white;
    border:  rgb(68, 68, 160) solid 0.5em;
}

/* Dit zorgt er voor dat elke section die gelijk is aan een oneven getal een blauwe achtergrond en witte tekst krijgt */
section:nth-child(odd) {
    background:  rgb(68, 68, 160);
    color: white;
}

/* Dit zet alle foto's en video thumnails met de class 'center' centraal op de website */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Dit zorgt er voor dat de youtube filpmjes de juiste grootte hebben en de automatische border verdwijnt */
iframe {
    width: 560px;
    height: 316px;
    border: 0px;
}
  
/* Dit zorgt er voor dat de foto's op de pagina 'routes' in tweetallen naast elkaar komen te staan */
.routes div {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0em;
    padding: 1.5em;
}

.routes div:nth-child(even) {
    background: white;
    border:  rgb(68, 68, 160) solid 0.5em;
}

.routes div:nth-child(odd) {
    background:  rgb(68, 68, 160);
    color: white;
}

/* Dit bepaald hoe de tabel op de pagina 'vooruitgang' er uit ziet */
table {
    border: rgb(68, 68, 160) solid 0.5em;
    padding: 1em;
    text-align: center;
    background: white;
}

/* Dit bepaald hoe de kleinere blokjes binnen de tabel er uit komen te zien */
table tr td {
    border: rgb(68, 68, 160) solid 0.5em;
    padding: 1em;
}

/* Dit bepaald hoe het invul-vakje onderaan de 'vooruitgang' pagina er uit ziet */
form input {
    padding: 1.4em 3em;
    text-align: center;
    font-size: 1em;
}

/* Dit bepaald hoe de 'Ontvang uitslagen!' knop er uit ziet */
form button {
    padding: 1em 3em;
    margin-left: 1em;
    border: white solid 0.5em;
    text-align: center;
    background: rgb(68, 68, 160);
    color: white;
    font-size: 1em;
}

/* Dit zorgt er voor dat de tekst in de knop 'Ontvang uitslagen!' zwart wordt wanneer je er boven hangt met de muis */
button:hover {
    color: black;
    transition: 400ms;
}

/* Dit bepaald hoe de footer er uit ziet en dat de elementen h3, ul, h3 en ul naast elkaar komen te staan */
footer {
    background: rgb(80, 80, 80);
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: row;
    font-size: 80%;
}

/* Dit zorgt er voor dat de list-items in de footer ook horizontaal naast elkaar komen te staan */
footer ul {
    display: flex;
    flex-direction: row;
    padding: 0em 3em;
}

/* Dit zorgt er voor dat de list-items in de footer een gelijke hoeveelheid ruimte tussen elkaar hebben */
footer ul li {
    display: flex;
    justify-content: space-evenly;
    padding: 1.3em;
}


